<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:wfw="http://wellformedweb.org/CommentAPI/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/" xmlns:slash="http://purl.org/rss/1.0/modules/slash/" version="2.0">

<channel>
	<title>Uncategorized – WP CLI TEST 001</title>
	<atom:link href="https://wp2static.bitbucket.io/pages/category/uncategorized/feed/" rel="self" type="application/rss+xml"/>
	<link>http://localhost</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Mon, 03 Dec 2018 13:36:38 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.8</generator>
	<item>
		<title>Hello world!</title>
		<link>https://wp2static.bitbucket.io/pages/hello-world/</link>
		<comments>https://wp2static.bitbucket.io/pages/hello-world/#comments</comments>
		<pubDate>Mon, 03 Dec 2018 13:36:38 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://wp2static.bitbucket.io/?p=1</guid>
		<description><![CDATA[Welcome to WordPress. This is your first post. Edit or delete it, then start writing!]]></description>
				<content:encoded><![CDATA[<p>Welcome to WordPress. This is your first post. Edit or delete it, then start writing!</p>
]]></content:encoded>
			<wfw:commentRss>http://localhost/pages/hello-world/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
	</channel>
</rss>
