<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Uncategorized &#8211; bitbucket moalboal</title>
	<atom:link href="http://wp2static.bitbucket.io/mrpickles/category/uncategorized/feed/" rel="self" type="application/rss+xml" />
	<link>http://example.test</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Tue, 22 Jan 2019 02:14:11 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.0.1</generator>
	<item>
		<title>Hello world! edited</title>
		<link>http://wp2static.bitbucket.io/mrpickles/hello-world/</link>
		<comments>http://wp2static.bitbucket.io/mrpickles/hello-world/#comments</comments>
		<pubDate>Sat, 15 Dec 2018 08:48:27 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://wp2static.bitbucket.io/mrpickles/?p=1</guid>
		<description><![CDATA[<p>Welcome to LINK TEST. This is your first post. Edit or delete it, then start writing!</p>
<p>The post <a rel="nofollow" href="http://wp2static.bitbucket.io/mrpickles/hello-world/">Hello world! edited</a> appeared first on <a rel="nofollow" href="http://example.test">bitbucket moalboal</a>.</p>
]]></description>
				<content:encoded><![CDATA[
<p>Welcome to <a href="//example.test/banana17/">LINK TEST</a>. This is your first post. Edit or delete it, then start writing!</p>



<p></p>
<p>The post <a rel="nofollow" href="http://wp2static.bitbucket.io/mrpickles/hello-world/">Hello world! edited</a> appeared first on <a rel="nofollow" href="http://example.test">bitbucket moalboal</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://wp2static.bitbucket.io/mrpickles/hello-world/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
	</channel>
</rss>
