<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>BitBucket Test Saturday Night Fun</title>
	<atom:link href="https://wp2static.bitbucket.io/feed/" rel="self" type="application/rss+xml" />
	<link>http://example.test</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Thu, 03 Jan 2019 19:20:29 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.0.1</generator>
	<item>
		<title>Hello world! edited</title>
		<link>https://wp2static.bitbucket.io/hello-world/</link>
		<comments>https://wp2static.bitbucket.io/hello-world/#comments</comments>
		<pubDate>Sat, 15 Dec 2018 08:48:27 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://wp2static.bitbucket.io/?p=1</guid>
		<description><![CDATA[<p>Welcome to WordPress. This is your first post. Edit or delete it, then start writing!</p>
<p>The post <a rel="nofollow" href="https://wp2static.bitbucket.io/hello-world/">Hello world! edited</a> appeared first on <a rel="nofollow" href="http://example.test">BitBucket Test Saturday Night Fun</a>.</p>
]]></description>
				<content:encoded><![CDATA[
<p>Welcome to WordPress. This is your first post. Edit or delete it, then start writing!</p>



<p></p>
<p>The post <a rel="nofollow" href="https://wp2static.bitbucket.io/hello-world/">Hello world! edited</a> appeared first on <a rel="nofollow" href="http://example.test">BitBucket Test Saturday Night Fun</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://wp2static.bitbucket.io/hello-world/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
	</channel>
</rss>
