<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/" version="2.0">
<channel>
	<title>Comments on: Scheduling exports of your static site from WordPress</title>
	<atom:link href="https://wp2static.bitbucket.io/2018/05/11/scheduling-exports-of-your-static-site-from-wordpress/feed/" rel="self" type="application/rss+xml"/>
	<link>https://wp2static.bitbucket.io/2018/05/11/scheduling-exports-of-your-static-site-from-wordpress/</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Mon, 22 Oct 2018 02:46:48 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.8</generator>
</channel>
</rss>
