<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: New release of WP Static HTML Output plugin for WordPress</title>
	<atom:link href="https://wp2static.bitbucket.io/new-release-of-wp-static-html-output-plugin-for-wordpress/feed/" rel="self" type="application/rss+xml" />
	<link>https://wp2static.bitbucket.io/new-release-of-wp-static-html-output-plugin-for-wordpress/</link>
	<description></description>
	<lastBuildDate>Sat, 27 Apr 2019 12:16:16 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://www.classicpress.net/?v=4.9.10-cp-1.0.1</generator>
</channel>
</rss>
