.elementor-377 .elementor-element.elementor-element-47f5fa8c > .elementor-container {min-height: 79px;}
.elementor-377 .elementor-element.elementor-element-47f5fa8c > .elementor-container:after {content: "";min-height: inherit;}
.elementor-377 .elementor-element.elementor-element-47f5fa8c:not(.elementor-motion-effects-element-type-background), .elementor-377 .elementor-element.elementor-element-47f5fa8c > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #f2f2f2;}
.elementor-377 .elementor-element.elementor-element-47f5fa8c {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin-top: 0px;margin-bottom: 0px;padding: 0px 0px 0px 0px;}
.elementor-377 .elementor-element.elementor-element-47f5fa8c > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-377 .elementor-element.elementor-element-2af4386d .elementor-spacer-inner {height: 10px;}
.elementor-377 .elementor-element.elementor-element-649b8f52 .elementor-text-editor {text-align: center;}
.elementor-377 .elementor-element.elementor-element-649b8f52 {color: #54595f;font-size: 25px;font-style: italic;line-height: .4em;}
.elementor-377 .elementor-element.elementor-element-858a6cb .elementor-repeater-item-4107dcc .slick-slide-bg {background-color: #833ca3;background-image: url("https://wp2static.bitbucket.io/wp-content/uploads/2019/03/wcbne-DSCF1312-1024x6832-1.jpg");background-size: cover;}
.elementor-377 .elementor-element.elementor-element-858a6cb .elementor-repeater-item-4107dcc .slick-slide-inner .elementor-background-overlay {background-color: rgba(0,0,0,.5);}
.elementor-377 .elementor-element.elementor-element-858a6cb .elementor-repeater-item-dc2763b .slick-slide-bg {background-color: #4054b2;background-image: url("https://wp2static.bitbucket.io/wp-content/uploads/2019/03/leon_wcjkt_2-768x512-1.jpg");background-size: cover;}
.elementor-377 .elementor-element.elementor-element-858a6cb .elementor-repeater-item-dc2763b .slick-slide-inner .elementor-background-overlay {background-color: rgba(0,0,0,.5);}
.elementor-377 .elementor-element.elementor-element-858a6cb .elementor-repeater-item-7a21011 .slick-slide-bg {background-color: #1abc9c;background-image: url("https://wp2static.bitbucket.io/wp-content/uploads/2019/03/IMG_20190302_165455.jpg");background-size: cover;}
.elementor-377 .elementor-element.elementor-element-858a6cb .elementor-repeater-item-7a21011 .slick-slide-inner .elementor-background-overlay {background-color: rgba(0,0,0,.5);}
.elementor-377 .elementor-element.elementor-element-858a6cb .slick-slide {height: 400px;}
.elementor-377 .elementor-element.elementor-element-858a6cb .slick-slide-bg {animation-duration: calc(5000ms * 1.2);transition-duration: calc(5000ms);}
.elementor-377 .elementor-element.elementor-element-858a6cb .elementor-slide-content {max-width: 66%;}
.elementor-377 .elementor-element.elementor-element-858a6cb .slick-slide-inner {text-align: center;}
.elementor-377 .elementor-element.elementor-element-ba86c3a.elementor-widget-heading .elementor-heading-title {color: #54595f;}
.elementor-377 .elementor-element.elementor-element-ffcecb1 .elementor-icon-list-icon {width: 14px;}
.elementor-377 .elementor-element.elementor-element-ffcecb1 .elementor-icon-list-icon i {font-size: 14px;}
.elementor-377 .elementor-element.elementor-element-f1aa68b .elementor-cta__content {text-align: center;}
.elementor-377 .elementor-element.elementor-element-f1aa68b .elementor-cta .elementor-cta__bg, .elementor-377 .elementor-element.elementor-element-f1aa68b .elementor-cta .elementor-cta__bg-overlay {transition-duration: 1500ms;}
.elementor-377 .elementor-element.elementor-element-f78e1c6 .elementor-spacer-inner {height: 50px;}
.elementor-377 .elementor-element.elementor-element-7a5da34d > .elementor-container {min-height: 79px;}
.elementor-377 .elementor-element.elementor-element-7a5da34d > .elementor-container:after {content: "";min-height: inherit;}
.elementor-377 .elementor-element.elementor-element-7a5da34d:not(.elementor-motion-effects-element-type-background), .elementor-377 .elementor-element.elementor-element-7a5da34d > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #f2f2f2;}
.elementor-377 .elementor-element.elementor-element-7a5da34d {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin-top: 0px;margin-bottom: 0px;padding: 0px 0px 0px 0px;}
.elementor-377 .elementor-element.elementor-element-7a5da34d > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-377 .elementor-element.elementor-element-77b482c2 .elementor-spacer-inner {height: 10px;}
@media (max-width:767px) {.elementor-377 .elementor-element.elementor-element-649b8f52 {line-height: 1.3em;}}