<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/" version="2.0">
<channel>
	<title>Comments on: Hello world!</title>
	<atom:link href="https://wp2static.bitbucket.io/pages/hello-world/feed/" rel="self" type="application/rss+xml"/>
	<link>https://wp2static.bitbucket.io/pages/hello-world/</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Mon, 03 Dec 2018 13:36:38 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.8</generator>
	<item>
		<title>By: A WordPress Commenter</title>
		<link>https://wp2static.bitbucket.io/pages/hello-world/#comment-1</link>
		<dc:creator><![CDATA[A WordPress Commenter]]></dc:creator>
		<pubDate>Mon, 03 Dec 2018 13:36:38 +0000</pubDate>
		<guid isPermaLink="false">https://wp2static.bitbucket.io/?p=1#comment-1</guid>
		<description><![CDATA[Hi, this is a comment.
To get started with moderating, editing, and deleting comments, please visit the Comments screen in the dashboard.
Commenter avatars come from &lt;a href=&quot;https://gravatar.com&quot;&gt;Gravatar&lt;/a&gt;.]]></description>
		<content:encoded><![CDATA[<p>Hi, this is a comment.<br />
To get started with moderating, editing, and deleting comments, please visit the Comments screen in the dashboard.<br />
Commenter avatars come from <a href="https://gravatar.com">Gravatar</a>.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
